@tailwind base;
@tailwind components;
@tailwind utilities;

/* Mettre ici les styles "globaux" */

@layer base {

    h2 {
        @apply font-raleway font-normal text-xl pt-2 pb-6
    }

    h3 {
        @apply font-comfortaa font-bold text-lg my-3 text-blanc-primary
    }

    h4 {
        @apply font-comfortaa font-bold text-lg my-3 text-black-primary
    }


    p {
        @apply text-lg text-black-primary font-comfortaa
    }

    span {
        @apply text-lg text-blanc-primary font-comfortaa
    }
}